

.loader {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid rgb(235, 137, 222);
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.card {
    box-shadow: 0px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-left: 18%;
    margin-right: 17%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px 16px;
  }

  .card-container {
    padding: 2px 16px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }