.search-container {
    height: 40%;
    background-color: rgb(235, 137, 222);
    padding-left: 10%;
    padding-right: 10%;
}
.search-input {
    background-image: url('../../searchicon.png'); 
    background-position: 10px 12px; 
    background-repeat: no-repeat; 
    font-size: 16px; 
    width: 75%;
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 12px;
  }
