.btn {
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    border-radius:20px;
    margin: 10px;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .success {
    border-color: #4CAF50;
    color: green;
  }
  
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }

  .recentSearchContainer {
    display: flex;
    margin-left: 9%;
    flex-wrap: wrap;
  }